<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/projectpage.css">
  <link rel="stylesheet" href="css/syntax.css">

  <script src="js/libs/modernizr-2.5.3.min.js"></script>
  <script src="js/libs/jquery-1.7.1.min.js"></script>
</head>
<body>
  <!--<header id="header">
		<a href="/"><h1>Lidotājs programmē!</h1></a>
  </header>-->
  <div id="content" role="main">
		{{ content }}
  </div>
  <footer id="footer">
		Ar mani sazināties var caur e-pastu: taai4ce [simbols] gmail [pukts] com.
		<br/>
		You can contact me via e-mail: taai4ce [symbol] gmail [dot] com.
  </footer>


	<script>
	var _gaq=[['_setAccount','UA-12370691-1'],['_setDomainName','code.lidotajs.lv'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>